.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #837f7f;
    color: white;
    position: fixed;
    top: 0;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    list-style: none;
}

.navbar a:hover {
    color: #e1dcdc;
}